$primary: #574EAA;
$secondary: #A9C1EE;
$third: #6963CD;
$four: #322D96;
$five: #211D60;
$six: #8299A3;
$white: #ffffff;

.btn-personal{
background-color: $primary;
border-radius: 5px;
color: $white;

    i{
        position: relative;
        top: 7px;
    }
}

.bg-color{
    background-color: $white;
    box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.39);
}
.header-content{
    padding: 7% 0%;
    box-sizing: border-box;
    position: relative;

    background: linear-gradient(top right, #8e2de2, #211D60);

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
       background-image: url(../img/crypto-bg-02.png);
        background-size: cover;
    }
    .menu{
        position: absolute;
        top: 0px;
        left: 0px;
    }
.header-info{
    position: relative;
   
    .title{
        font-size: 38px;
        line-height: 50px;
        color: $white;
    }
    .subtitle{
        font-size: 20px;
        line-height: 30px;
        color: $white;
        }
    }
}
.particular{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.from-card{
    width: 100%;
    position: relative;

    margin: 0 auto;

    .img-card{
        width: 80px;
        margin-right: 10px; 
        img{
            width: 100%;
        }
    }
}
.avatar-conten  {
    width: 200px;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    background-color: $primary;
    box-sizing: border-box;
    padding: 5px;
    img{
        border-radius: 50%
    }
}

.contact{
    background-image: url(../img/office.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background :linear-gradient(top right, #211D60, #8e2de2); 
        filter: opacity(0.7);
    }
}
.conte-info{
    padding-top: 5%;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        bottom: 0px;
        height: 7px;
        width: 15%;
        background-color: $primary;
        border-radius: 40px;
    }
}
.text-infor{
    font-size: 1rem;
    color: #424141;
}
.footer{
    width: 100%;
    height: 70px;
    text-align: center;
}
.cont{
    position: relative;

    &::before{
        content: "";
        position: absolute;
        bottom: 7%;
        height: 5px;
        width: 25%;
        left: 14%;
        background: #ffffff;
        border-radius: 50px;
    }
    .lista{
        margin: 0px !important;
        padding: 0px !important;
        width: 100%;
        li{
            list-style: none;
            margin-bottom: 15px;
        }
        .icon{
            position: relative;
            top: 10px;
            margin-right: 20px;
        }
    }
}
