$primary: #574EAA;
$secondary: #A9C1EE;
$third: #6963CD;
$four: #322D96;
$five: #211D60;
$six: #8299A3;
$white: #ffffff;

.active{
    border: solid 1px $third;
    border-radius: 4px;
    color: $third !important;
    
    
}
.bg-color{
    background-color: $white;
    box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.39);
}
.header-content{
    padding: 7% 0%;
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(top right, #8e2de2, #211D60);

.header-info{
    position: relative;
   
    .title{
        font-size: 38px;
        line-height: 50px;
        color: $white;
    }
    .subtitle{
        font-size: 20px;
        line-height: 30px;
        color: $white;
        }
    }
}

.from-card{
    width: 340px;
    position: relative;

    margin: 0 auto;

    .img-card{
        width: 80px;
        margin-right: 10px; 
        img{
            width: 100%;
        }
    }
}
.tarjeta{
    
}