.active{
    border: solid 1px #ffffff;
    border-radius: 4px;
    color: #ffffff !important;
    
}
.header-content{
    height: 550px;
    position: relative;
   
    background-position: center;
    background-size: cover;
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        background-image: linear-gradient(170deg, #051937 66%, #ffffff 59%);
       
    }
.header-info{
    position: relative;
    top: 30%;

    .title{
        font-size: 38px;
        line-height: 50px;
        color: #ffffff;
    }
    .subtitle{
        font-size: 20px;
        line-height: 30px;
        }
    }
}

.from-card{
    width: 340px;
    position: relative;
    top: 30%;
    margin: 0 auto;

    .img-card{
        width: 80px;
        margin-right: 10px; 
        img{
            width: 100%;
        }
    }
}
